// color declaration
$primary-color: #ffc619;
$primary: #ffd34d;
$secondary-color: #141414;
$section-color: #f1f9f5;
$white: #ffffff;
$black: #000000;
$purple: #5f2eea;
$navbar-link-color: #4e4b66;
$bg-dark: #14142b;
$bg-dark-purple: #1e1b5b;
$pending-bg: #faebd7;
$registered-bg: darkseagreen;
$text-color: #333333;
$yellow-color: #ffc619;
$border-color: #e1e6ef;
$button-bg: #0a0d14;
$deep-background: #d9d9d9;
$off-white: #fafafa;
$secondary-900: #ffc619;
$black-shade: rgba(0, 0, 0, 0.45);
$text-primary: rgba(51, 51, 51, 1);
$text-secondary: rgba(51, 51, 51, 0.5);
$primary-neutral: #0a0d14;
$light-color: rgba(51, 51, 51, 0.5);
$hover-color: #fdf6e3;
$text-danger: red;
$empty-color: #f4f4f4;
$orange-color: orange;
$green-color: rgba(8, 135, 93, 1);
