// font declaration

// primary font
$primary-font: "Lato", serif;

// secondary font
$secondary-font: "Lato", serif;

// primary font
$primary-font-12: 12px;
$primary-font-14: 14px;
$primary-font-16: 16px;
$primary-font-18: 18px;
$primary-font-normal: 400;
$primary-font-bold: 500;
$primary-font-bolder: 600;

// transitions
$transitions: all 0.3s linear;
